@import "./colors";
@import "./fonts";

body {
    background-color: $lavendel;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: $roboto;
}

header {
    max-height: 16vh;
    background-color: $royal;
    // box-shadow: 0px 6px 15px 0px rgba(39,76,103,0.10);

    .logo {
        max-height: 10vh;
        padding: 6vh 0 0;
    }

    #dropdown__btn {
        align-self: flex-end;
        font-size: 2em;
        position: absolute;
        top: 0;
        right: 0;
        margin: 8vw;
    }

    a {
        color: white;
    }

    a:hover {
        opacity: 50%;
    }


    
    #dropdown {
        display: flex;

        .dropdown__content {
            color: white;

            display: flex !important;
            flex-direction: column !important;

            min-height: 100vh;
            min-width: 100vw;
            background-color: $royal;
            z-index: 1;


            #dropdown__btn--close {
                align-self: flex-end;
                font-size: 2em;
                margin: 0 8vw;
                padding: 0 5px;
            }

            a {
                text-decoration: none;
                padding: 2rem 2rem 0;
            }
        }

        // added with javascript when user uses desktop
        .dropdown__content--desktop {
            color: white;

            display: flex;
            flex-direction: row;
            position: absolute;

            a {
                text-decoration: none;
                padding: 2rem 2rem 0;
            }
        }

    }
}

main {
    max-width: 100vw;

    #article-header{
        max-width: 100vw;
        background-color: $royal;
        padding: 20vw 5vh;

        h2 {
            max-width: 20ch;
        }
        h2, p {
            color: $lavendel-lys;
        }
    }

    article {
        max-width: 90vw;
        margin: 0 auto;
        margin-bottom: 10vh;

        p {
            color: $font;
            line-height: 130%;
        }

        h2 {
            color: $royal;
            font-weight: bolder;
            font-size: 22px;
        }
        #unique-h2 {
            text-align: center;
            margin: 0 auto;
            max-width: 25ch;
            padding-bottom: 5vh;
        }

        .cards {
            display: grid;
            max-width: auto;

            .card {
                background-color: $lavendel-lys;
                max-width: auto;
                height: auto;
                margin-bottom: 20px;
                border-radius: 5%; 
                box-shadow: 0px 6px 15px 0px rgba(39,76,103,0.10);
                padding: 10px 0;

                p {
                    max-width: auto;
                    padding: 0 10vw;
                }
                h3 {
                    text-align: center;
                    color: $royal;
                    font-weight: bolder;
                }
                .lesmerBtn {
                    text-decoration: none;
                    padding: 7px 10px;
                    background-color: $nemo;
                    color: white;
                    border-radius: 8px;
                    box-shadow: 0px 6px 15px 0px rgba(39,76,103,0.10);
                    text-transform: uppercase;
                    text-align: center;
                    margin: 30px auto 10px auto;
                    display: block;
                    width: 18vw;
                    font-size: 12px;
                }
            }
        }
    }
}
