@import "./colors";
@import "./fonts";

body {
    background-color: $lavendel;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: $roboto;
    line-height: 140%;
}

header {
    max-height: 16vh;
    background-color: $royal;
    // box-shadow: 0px 6px 15px 0px rgba(39,76,103,0.10);

    nav {

        .logo {

            img {
                max-height: 8vh;
                padding: 4vh 0;
                display: flex;
                justify-self: start;
            }
        }

        #dropdown__btn {
            align-self: flex-end;
            font-size: 2em;
            position: absolute;
            top: 0;
            right: 0;
            margin: 5vh 8vw;
            padding: 2vh 0;
        }

        a {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }

        .some {
            display: none;
        }

        #dropdown {
            display: flex;

            .dropdown__content {
                color: white;

                display: flex !important;
                flex-direction: column !important;

                min-height: 100vh;
                min-width: 100vw;
                background-color: $royal;
                z-index: 1;
                margin-top: -10px;

                #dropdown__btn--close {
                    align-self: flex-end;
                    font-size: 2em;
                    margin: 0 8vw;
                    padding: 0 5px;
                }

                a {
                    text-decoration: none;
                    padding: 2rem 2rem 0;
                }
            }

            // added with javascript when user uses desktop
            .dropdown__content--desktop {
                color: white;

                display: flex;
                flex-direction: row;

                a {
                    text-decoration: none;
                    padding: 0 1.5em 0;
                }

                a:hover {
                    opacity: .5;
                }
            }

        }
    }
}

main {
    max-width: 100vw;

    #article-header{
        max-width: 100vw;
        background-color: $royal;
        padding: 8vh 5vw 12vh 5vw;
        max-height: 65vh;

        h2 {
            max-width: 20ch;

        }
        h2, p {
            color: $lavendel-lys;
            line-height: 130%;
        }
        p {
            max-width: 38ch;
        }
    }
    .header-graphic {
        height: 1px;

        img {
            width: 28vw;
            transform: rotate(343deg);
            position: relative;
            left: 64vw;
            top: -11vh;
        }
    }
    #article-header-desktop {
        display: none;
    }

    #article-main {
        max-width: 90vw;
        margin: 0 auto;
        padding-bottom: 10vh;

        p {
            color: $font;
            line-height: 130%;
        }

        h2 {
            color: $royal;
            font-weight: bolder;
            font-size: 22px;
        }
        #unique-h2 {
            text-align: center;
            margin: 0 auto;
            max-width: 25ch;
            padding-bottom: 5vh;
            padding-top: 11vh;
        }

        .cards {
            display: grid;
            max-width: auto;

            .card {
                background-color: $lavendel-lys;
                max-width: auto;
                height: auto;
                margin-bottom: 20px;
                border-radius: 5%; 
                box-shadow: 0px 6px 15px 0px rgba(39,76,103,0.10);
                padding: 10px 0;

                p {
                    max-width: auto;
                    padding: 0 10vw;
                }
                h3 {
                    text-align: center;
                    color: $royal;
                    font-weight: bolder;
                }
                .lesmerBtn {
                    text-decoration: none;
                    padding: 7px 10px;
                    background-color: $nemo;
                    color: white;
                    border-radius: 8px;
                    box-shadow: 0px 6px 15px 0px rgba(39,76,103,0.10);
                    text-transform: uppercase;
                    text-align: center;
                    margin: 30px auto 10px auto;
                    display: block;
                    width: 18vw;
                    font-size: 12px;
                }
            }
            .card__dots {
                display: none;
            }
        }
    }
}

footer {
    background-color: $royal;
    height: auto;
    color: $lavendel-lys;
    margin: 0 auto;
    text-align: center;
    width: 100vw;

    img {
        max-width: 100vw;
        bottom: 2vh;
        position: relative;
    }

    h3 {
        text-transform: uppercase;
    }
    p {
        font-size: 15px;
    }
    .footer__googlemaps {
        display: none;
    }

    .footer__adresse, .footer__some, .footer__kontakt {
        padding-bottom: 3vh;
    }
    .footer__kontakt {
        padding-bottom: 50px;
    }
    .footer__some--icons {
        width: 50vw;
        margin: 5vh auto 0 auto;
        display: flex;
        justify-content: space-evenly;

    }

    .footer__bar {
        background-color: $lavendel;
        color: $font;
        padding: 12px;
        max-width: 100vw;

        #footerBtn {
            padding: 15px;
            background-color: $lavendel;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            bottom:15px;
            border: none;
            cursor: pointer;

            .pil {
                width: 18px;
                top:-10px;
            }
        }
    }
}


// enkel styling til de andre sidene
.article-klassisk {
    margin: 0 auto;
    max-width: 80vw;
    color: $font;

    h2 {
        color: $royal;
        font-weight: bold;
        padding-bottom: 3vh;
    }

    h3 {
        margin: 2em 0 1em;
    }

    .paragraf-klassisk {
        max-width: 70ch;
        margin: 0 auto;
        margin: 1em 0;
    }
    
    .bilde-klassisk {
        max-width: 80vw;
        // border-radius: 10px;
        box-shadow: 0px 6px 15px 0px rgba(39, 76, 103, 0.10);
        margin: 0 auto;
    }

    .kontaktOss {
        font-weight: bold;
        color: $royal;
    }
}

.article-klassisk:first-child {
    padding-top: 5vh; 
}

.article-klassisk:last-child {

    .paragraf-klassisk:last-child {
        margin: 0 0 10vh;
    }
}

