@media screen and (min-width: 500px) {
    header {

        nav {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 3fr 1fr;
            align-items: center;
            padding: .5em 1em;

            .logo {
                grid-column: 1;
                grid-row: 1;

                img {
                    max-height: 5vh;
                    padding: 0;
                    align-self: center;
                }
            }

            #dropdown {
                grid-column: 2;
                grid-row: 1;
                justify-content: center;
            }

            .some {
                display: flex;
                grid-column: 3;
                grid-row: 1;
                max-height: 5vh;
                justify-content: end;

                img {
                    margin: 0 1em 0;
                }

                img:hover {
                    opacity: .5;
                }
            }

        }
    }

    main {
        #article-header {
            display: none;

        }

        .header-graphic {
            display: none;
        }

        #article-header-desktop {
            max-width: 60vw;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            .darlinglogo-stor {
                max-width: 40vw;
                padding: 10vh 0 10vh 0;
                margin: 0 auto;
            }
            .hvemervi-svg {
                max-width: 80%;
                margin: 0 auto;
                margin-bottom: 10vh;
            }

            .bilde-klassisk {
                max-width: 65%;
                border-radius: 10px;
                box-shadow: 0px 6px 15px 0px rgba(39, 76, 103, 0.10);
                margin: 0 auto;
            }

            
        }

        #article-main {
            width: 1200px;
            padding-bottom: 200px;

            #unique-h2 {
                padding-bottom: 8vh;
                max-width: 30ch;
                line-height: 150%;
                font-size: 22px;
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
                gap: .3% 2%;
                justify-content: center;

                .card {
                    border-radius: 20px;
                    max-width: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        padding: 0 30px;
                        width: 30ch;
                        font-size: 14px;
                    }

                    .lesmerBtn {
                        margin: 30px auto 10px auto;
                        width: 55px;
                        font-size: 12px;



                    }

                    h3 {
                        padding-bottom: 10px;
                    }
                }

                .card__dots {
                    display: block;
                    margin-top: -50px;
                }
            }
        }
    }

}