@media screen and (min-width: 500px) {
    header {
    
        a:hover {
            opacity: 50%;
        }
        
        
    }
    main {
        #article-header{
            background-color: $nemo;
        }
    }
}